In [1]:
import pandas as pd
import os

In [2]:
# Create the path and import the data
full_evenflo_data = os.path.join('new_evenflo_project_data.csv')
evenflo_df = pd.read_csv(full_evenflo_data)

In [3]:
evenflo_df.head()

,MARCA,SUB-CATEGORIA,CANAL,SKU,CÓDIGO DE BARRAS,PRODUCTO,Tamaño,2021 ENERO,2021 FEBRERO,2021 MARZO,...,2021 JUNIO,2022 ENERO,2022 FEBRERO,2022 MARZO,2022 ABRIL,2022 MAYO,2022 JUNIO,Total 2021,Total 2022,Total general
0,INFANTI,BIBERONES,Autoservicios,1275.0,7.501028e+12,BIB FOREST 20 OZ,0 OZ,0,0,0,...,0,0,0,0,0,66,0,223,66,289
1,INFANTI,BIBERONES,Autoservicios,1281.0,7.501028e+12,BIB TWIST 8OZ,8OZ,0,0,0,...,17,228,91,257,377,86,377,"1,514","1,416","2,930"
2,INFANTI,BIBERONES,Autoservicios,1301.0,7.501028e+12,BIB FOREST 8OZ,8OZ,0,0,0,...,0,0,0,0,0,26,0,41,26,67
3,INFANTI,BIBERONES,Autoservicios,1302.0,7.501028e+12,BIB FOREST 4OZ,4OZ,0,0,0,...,0,0,0,0,0,24,0,41,24,65
4,INFANTI,BIBERONES,Autoservicios,7200.0,7.501028e+12,BIB DREAMS 4OZ,4OZ,0,0,0,...,0,0,0,0,0,38,0,134,38,173

In [4]:
evenflo_df.isnull().sum()

MARCA               1
SUB-CATEGORIA       1
CANAL               1
SKU                 1
CÓDIGO DE BARRAS    1
PRODUCTO            1
 Tamaño             1
2021 ENERO          1
2021 FEBRERO        1
2021 MARZO          1
2021 ABRIL          1
2021 MAYO           1
2021 JUNIO          1
2022 ENERO          1
2022 FEBRERO        1
2022 MARZO          1
2022 ABRIL          1
2022 MAYO           1
2022 JUNIO          1
 Total 2021         0
 Total 2022         0
 Total general      1
dtype: int64

In [5]:
evenflo_df = evenflo_df.dropna()
evenflo_df.isna().sum()

MARCA               0
SUB-CATEGORIA       0
CANAL               0
SKU                 0
CÓDIGO DE BARRAS    0
PRODUCTO            0
 Tamaño             0
2021 ENERO          0
2021 FEBRERO        0
2021 MARZO          0
2021 ABRIL          0
2021 MAYO           0
2021 JUNIO          0
2022 ENERO          0
2022 FEBRERO        0
2022 MARZO          0
2022 ABRIL          0
2022 MAYO           0
2022 JUNIO          0
 Total 2021         0
 Total 2022         0
 Total general      0
dtype: int64

In [6]:
evenflo_df.head()

,MARCA,SUB-CATEGORIA,CANAL,SKU,CÓDIGO DE BARRAS,PRODUCTO,Tamaño,2021 ENERO,2021 FEBRERO,2021 MARZO,...,2021 JUNIO,2022 ENERO,2022 FEBRERO,2022 MARZO,2022 ABRIL,2022 MAYO,2022 JUNIO,Total 2021,Total 2022,Total general
0,INFANTI,BIBERONES,Autoservicios,1275.0,7.501028e+12,BIB FOREST 20 OZ,0 OZ,0,0,0,...,0,0,0,0,0,66,0,223,66,289
1,INFANTI,BIBERONES,Autoservicios,1281.0,7.501028e+12,BIB TWIST 8OZ,8OZ,0,0,0,...,17,228,91,257,377,86,377,"1,514","1,416","2,930"
2,INFANTI,BIBERONES,Autoservicios,1301.0,7.501028e+12,BIB FOREST 8OZ,8OZ,0,0,0,...,0,0,0,0,0,26,0,41,26,67
3,INFANTI,BIBERONES,Autoservicios,1302.0,7.501028e+12,BIB FOREST 4OZ,4OZ,0,0,0,...,0,0,0,0,0,24,0,41,24,65
4,INFANTI,BIBERONES,Autoservicios,7200.0,7.501028e+12,BIB DREAMS 4OZ,4OZ,0,0,0,...,0,0,0,0,0,38,0,134,38,173

In [7]:
evenflo_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17077     True
17078     True
17079     True
17080     True
17081     True
Length: 17082, dtype: bool

In [8]:
evenflo_df.duplicated().sum()

15296

In [9]:
evenflo_df = evenflo_df.drop_duplicates()
evenflo_df.duplicated().sum()

0

In [10]:
evenflo_df = evenflo_df.drop_duplicates()
evenflo_df

,MARCA,SUB-CATEGORIA,CANAL,SKU,CÓDIGO DE BARRAS,PRODUCTO,Tamaño,2021 ENERO,2021 FEBRERO,2021 MARZO,...,2021 JUNIO,2022 ENERO,2022 FEBRERO,2022 MARZO,2022 ABRIL,2022 MAYO,2022 JUNIO,Total 2021,Total 2022,Total general
0,INFANTI,BIBERONES,Autoservicios,1275.0,7.501028e+12,BIB FOREST 20 OZ,0 OZ,0,0,0,...,0,0,0,0,0,66,0,223,66,289
1,INFANTI,BIBERONES,Autoservicios,1281.0,7.501028e+12,BIB TWIST 8OZ,8OZ,0,0,0,...,17,228,91,257,377,86,377,"1,514","1,416","2,930"
2,INFANTI,BIBERONES,Autoservicios,1301.0,7.501028e+12,BIB FOREST 8OZ,8OZ,0,0,0,...,0,0,0,0,0,26,0,41,26,67
3,INFANTI,BIBERONES,Autoservicios,1302.0,7.501028e+12,BIB FOREST 4OZ,4OZ,0,0,0,...,0,0,0,0,0,24,0,41,24,65
4,INFANTI,BIBERONES,Autoservicios,7200.0,7.501028e+12,BIB DREAMS 4OZ,4OZ,0,0,0,...,0,0,0,0,0,38,0,134,38,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1891,INFANTI,BABEROS,Canales Especializados,5131.0,7.501028e+12,BABERO FOREST CH,0,4,0,5,...,1,10,16,7,42,19,5,31,98,130
1892,INFANTI,BABEROS,Canales Especializados,5132.0,7.501028e+12,BABERO FOREST GRAND,0,4,0,4,...,8,14,8,26,19,19,6,35,94,128
1893,INFANTI,BABEROS,Canales Especializados,5153.0,7.501028e+12,BABERO ACUARIO CH,0,0,0,6,...,30,0,0,0,0,0,40,283,40,323
1894,INFANTI,BABEROS,Canales Especializados,5550.0,7.501028e+12,BABERO FRYDR CHICO,0,0,5,5,...,2,0,1,0,1,1,17,12,20,32
1895,INFANTI,BABEROS,Canales Especializados,5551.0,7.501028e+12,BABERO FRASES GDE,0,0,0,0,...,0,0,14,0,0,1,19,-,35,35

In [11]:
evenflo_df.dtypes

MARCA                object
SUB-CATEGORIA        object
CANAL                object
SKU                 float64
CÓDIGO DE BARRAS    float64
PRODUCTO             object
 Tamaño              object
2021 ENERO           object
2021 FEBRERO         object
2021 MARZO           object
2021 ABRIL           object
2021 MAYO            object
2021 JUNIO           object
2022 ENERO           object
2022 FEBRERO         object
2022 MARZO           object
2022 ABRIL           object
2022 MAYO            object
2022 JUNIO           object
 Total 2021          object
 Total 2022          object
 Total general       object
dtype: object

In [12]:
evenflo_df.describe()

               SKU  CÓDIGO DE BARRAS
count  1786.000000      1.786000e+03
mean   3794.352184      7.501028e+12
std    2402.219272      1.930738e+04
min    1105.000000      7.501028e+12
25%    1360.000000      7.501028e+12
50%    2429.000000      7.501028e+12
75%    5538.000000      7.501028e+12
max    8207.000000      7.501028e+12